#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;

  background-color: #f6f6f6;
  font-family: Helvetica;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

/*------Main App.tsx component--------*/

.App > * {
  margin: 20px 0 20px 0;
}

/*------Navigation bar--------*/

.navibar {
  background-color: #ffffff;
}

/*------Banner component--------*/

.banner {
  margin-top: 0;
  padding: 100px 0 100px 0;
  width: 100%;
}
.bannerText h1 h3 {
  position: absolute;
  margin-left: 10px;
  font-size: x-large;
}

.prsn {
  /*------Banner image adjustemnt--------*/
  margin-top: 7%;
  margin-left: 10px;
}
.prsn img {
  width: 100%;
}

/*------Mission component--------*/

.Mission {
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.133);
  background-color: #ffffff;
  margin: 20px 10% 20px 10%;
}

/*------Vision component--------*/

.Vision {
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.133);
  background-color: #ffffff;
  margin: 20px 10% 20px 10%;
}
.Vision h1 {
  margin-top: 100px;
}

.Vision img {
  padding: 10% 0 10% 0;
  width: 100%;
  border-radius: 50% 20% / 10% 40%;
}

/*------Team component--------*/

.team {
  margin: 5px 10px 0px 10px;
}

/*------Contact component--------*/

.contact {
  background-color: #323135;
  color: #ffffff;
}

.contactinfo {
  padding-top: 30px;
}

.mailbox > * {
  margin: 5px 5px 5px 5px;
}

.mailbox {
  margin: 10px 0 10px 0;
  background-color: #ffffff;
  padding: 5px 0 5px 0;
}

.messagebox {
  width: 100%;
}
