@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;

  background-color: #ededed;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  font-style: normal;
}

/*------Navigation bar--------*/

.navibar {
  background-color: #ededed;
  font-weight: 500;
}

/*------Banner component--------*/

.banner {
  margin-top: 0;
  padding: 100px 0 100px 0;
  width: 100%;
}
.bannerText h1 {
  font-size: 72px;
}
.bannerText h3 {
  font-size: 32px;
}
.bannerText h1 h3 {
  position: absolute;
  margin-left: 10px;
}
.bannerText Button {
  margin-left: 10px;
}

.prsn {
  /*------Banner image adjustemnt--------*/
  margin-top: 7%;
  margin-left: 10px;
}
.prsn img {
  width: 100%;
}
/*------Features component--------*/

.features {
  align-items: center;
  width: 100%;
  position: relative;
}
.features h1 {
  text-align: center;
}

/*------Mission component--------*/

.mission {
  margin: 0px 10% 20px 10%;

  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 4px 32px rgba(51, 51, 51, 0.1);
  padding: 50px;
}

/*------Vision component--------*/

.Vision {
  box-shadow: 0px 4px 32px rgba(51, 51, 51, 0.1);
  border-radius: 16px;
  background-color: #ffffff;
  margin: 20px 10% 20px 10%;
  text-align: justify;
  padding: 50px;
}

.Vision img {
  width: 100%;
  border-radius: 50% 20% / 10% 40%;
}

/*------Team component--------*/

.team {
  margin-top: 150px;
}
.team h1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

/*------Contact component--------*/

.contact {
  color: #000000;
  margin-bottom: 0;
  margin-top: 200px;
}

.contactinfo {
  padding-top: 30px;
}

.mailbox > * {
  padding: 5px 5px 5px 5px;
}

.mailbox {
  margin: 10px 0 10px 0;
  background-color: #ffffff;
  padding: 5px 0 5px 0;
}

.messagebox {
  width: 100%;
}

/*------Footer component--------*/

.footer {
  color: #000000;
  padding: 5% 0 3% 0;
}

.footer hr {
  width: 100%;
  height: 3px;
  margin-bottom: 20px;
}

.footer a {
  color: inherit;
  text-decoration: none;
}
