#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.banner {
  margin-top: 0;
  padding: 100px 0 100px 0;
  background-image: url("./assets/Bannerbg.svg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.bannerText h1 h3 {
  position: absolute;
  margin-left: 10px;
}

.prsn {
  margin-top: 7%;
  margin-left: 10px;
}
.prsn img {
  height: 110%;
  width: 110%;
}
